

<div>
    <form class="row-cols-1">
        <h1>Enter Login Credentials</h1>

        <label for="username">Enter Username</label>
        <input type="text" id="username" required />
        
        <label for="password">Enter Password</label>
        <input type="text" id="password" required />
        
        <button type="submit" class="btn btn-success">Submit</button>
        
    </form>
    

    
</div>