<div class="col">
    <div>
        <h1>Booking</h1>
        <a href="/Bookings" id="booking-btn" class="btn">Click to go to bookings</a>
    </div>

    <div>
        <h1>Customer</h1>
        <a href="/Customers" id="customers-btn" class="btn">Click to go to customers</a>
    </div>

    <div>
        <h1>Table</h1>
        <a href="/Tables" id="tables-btn" class="btn">Click to go to tables</a>
    </div>

    <div>
        <h1>Menu</h1>
        <a href="/Menus" id="menus-btn" class="btn">Click to go to menu</a>
    </div>

    <div>
        <h1>MenuItem</h1>
        <a href="/MenuItems" id="menuitems-btn" class="btn">Click to go to menu items</a>
    </div>
</div>

