@model List<Customer>

<a asp-action="Welcome" asp-controller="Login" class="btn btn-primary">Return</a>

@foreach(var customer in Model)
{
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">@customer.Name</h5>

            <p class="card-text">Email: @customer.Email</p>
            <p class="card-text">Phone Number: @customer.PhoneNumber</p>
            <a asp-controller="Customers" asp-action="Edit" asp-route-id=@customer.CustomerID class="btn btn-warning">Edit</a>


            <form method="post" asp-action="Delete" style="display:inline;">
                <input type="hidden" name="customerID" value="@customer.CustomerID" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </div>
    </div>
}

<a asp-action="Create" asp-controller="Customers" class="btn btn-primary">Create</a>

